<h2>This is a simple app for Customer Relationship Management (CMR)</h2>
<h3>
  To enter Admin console, please press the button below.<br /><br />
  Once in the Admin console, you can add Clients or Comments by clicking the respective tabs.
</h3>
<form action="https://floating-chamber-97698.herokuapp.com/admin">
    <input type="submit" value="Go to Admin console" />
</form>
<p>
  The time is now: <%= Time.now %>
</p>
